* {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  /* margin: 0 auto; */
  background-color: #0f0f0f;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 162px;
}
/* ----------------------- HEADER ----------------------- */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}
.nav-a {
  padding: 20px 30px;
  background-color: #262626;
  border: 1px dashed #535353;
  border-radius: 12px;
}
.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}
.cart-a {
  border-radius: 12px;
  padding: 18px;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-a2 {
  padding: 20px 30px;
  background-color: #ae9b84;
  border-radius: 12px;
}
/* ----------------------- Section 1 ----------------------- */

.bg-img {
  width: 100%;
  height: 600px;
  background-image: url(../Images/main-bg-Image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0 0;
}
.content-div1 {
  width: 100%;
  height: 600px;
}
/* ----------------------- Grid container ----------------------- */
.grid-container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "button button"
    "left right";
  background-color: #0f0f0f;
  border: 2px dashed #262626;
  border-radius: 0 0 20px 20px;
}
.section1-a {
  padding: 14px 20px;
  background-color: #333333;
  border: 1px dashed #b3b3b2;
  border-radius: 12px;
}
/*----------------------- Cuurved button -----------------------*/
.shape {
  grid-area: button;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.shape::before {
  content: "";
  position: absolute;
  left: auto;
  top: -28px;
  left: 54.5%;
  width: 50px;
  height: 50px;
  background: radial-gradient(circle at -11% 60%, transparent 50%, #0f0f0f 1%);
  transform: rotate(135deg);
}
.shape::after {
  content: "";
  position: absolute;
  top: -30px;
  right: 54.5%;
  width: 50px;
  height: 50px;
  background: radial-gradient(circle at 113% 65%, transparent 50%, #0f0f0f 51%);
  transform: rotate(-136deg);
}
.shape::before,
.shape::after {
  margin-left: -1px;
  margin-right: -1px;
}
#section1-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 12px;
  background-color: #0f0f0f;
  border: 1px dashed #404040;
  padding: 18px 30px;
  position: absolute;
  top: -30px;
}
/* ----------------------- Grid wrappers ----------------------- */
.left-container {
  grid-area: left;
  width: 698px;
  padding: 100px 80px;
}
.flex {
  max-width: 638px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 30px;
}
.flex nav {
  display: flex;
  gap: 16px;
}
.right-container {
  grid-area: right;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
  border: 1px dashed #262626;
  border-bottom: none;
  padding: 24px;
  z-index: 12;
}
.div1,
.div2 {
  border-top: none;
}
.div3,
.div4 {
  border-right: none;
}
/* ------------------------------ Section 2 ------------------------------  */
.grid-container-sct2 {
  border: 1px dashed #262626;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 20px;
  /* gap: 14px; */
  grid-template-rows: auto;
  grid-template-areas:
    "text text text"
    "div-1 div-2 div-3"
    "div-4 div-5 div-6";
}
.text-div {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 80px;
  align-items: flex-start;
  justify-content: center;
  grid-area: text;
  border-bottom: 1px dashed #262626;
}
.div-1 {
  grid-area: div-1;
  overflow: hidden;
}
.div-2 {
  grid-area: div-2;
  overflow: hidden;
}
.div-3 {
  grid-area: div-3;
  overflow: hidden;
}
.div-4 {
  grid-area: div-4;
  overflow: hidden;
}
.div-5 {
  grid-area: div-5;
  overflow: hidden;
}
.div-6 {
  grid-area: div-6;
  overflow: hidden;
}
.grid-container-sct2 .s2-div {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  border: 1px dashed #262626;
}

.div-4,
.div-5,
.div-6 {
  border-left: none !important; /*  I didn't have any other way to make these borders to work*/
  border-bottom: none !important; /*  I didn't have any other way to make these borders to work*/
}
.div-6 {
  border-right: none !important; /*  I didn't have any other way to make these borders to work*/
}

.grid-container-sct2 .div-1::before {
  content: url("../Images/bg-star.svg");
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.5;
}
.grid-container-sct2 .div-2::before {
  content: url("../Images/bg-3c.svg");
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.5;
}
.grid-container-sct2 .div-3::before {
  content: url("../Images/bg-mask.svg");
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.5;
}
.grid-container-sct2 .div-4::before {
  content: url("../Images/bg-trophy.svg");
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.5;
}
.grid-container-sct2 .div-5::before {
  content: url("../Images/bg-magic.svg");
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.5;
}
.grid-container-sct2 .div-6::before {
  content: url("../Images/bg-sp.svg");
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.5;
}
/* ------------------------------ Section 3 ------------------------------  */

.section3-grid-container {
  border-radius: 20px;
  display: grid;
  border: 1px dashed #262626;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "heading heading heading "
    "product1 product2 product3"
    "product4 product5 product6";
}
.heading {
  grid-area: heading;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  padding: 80px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px dashed #262626;
}
.heading::after {
  content: url(../Images/rounded-sun.svg);
  position: absolute;
  right: -130px;
  top: -100px;
  object-fit: contain;
  animation: sun-rotate 10s linear infinite;
  transform-origin: center;
}
.buttons-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}
.section2-a {
  padding: 18px 20px;
  background-color: #333333;
  border: 1px dashed #b3b3b2;
  border-radius: 12px;
}
.headings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.product1 {
  grid-area: product1;
  border: 1px dashed #262626;
  border-top: none;
  border-left: none;
}
.product2 {
  grid-area: product2;
  border: 1px dashed #262626;
  border-left: none;
  border-top: none;
}
.product3 {
  grid-area: product3;
  border: 1px dashed #262626;
  border-left: none;
  border-top: none;
  border-right: none;
}
.product4 {
  grid-area: product4;
  border: 1px dashed #262626;
  border-top: none;
  border-left: none;
  border-bottom: none;
}
.product5 {
  grid-area: product5;
  border: 1px dashed #262626;
  border-left: none;
  border-top: none;
  border-bottom: none;
}
.product6 {
  grid-area: product6;
  border: 1px dashed #262626;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: none;
}
.product {
  padding: 30px;
  display: grid;
  grid-row-gap: 18px;
  grid-template-columns: auto;
  grid-template-areas:
    "img img img"
    "tag . buttonshop"
    "info info info"
    "details details details";
}
.product img {
  grid-area: img;
  border-radius: 50px 50px 0 0;
  height: auto;
  object-position: center;
  width: 100%;
}
.category-a {
  display: grid;
  place-items: center;
  padding: 10px 16px;
  text-align: center;
  background-color: #1a1a1a;
  border: 1px dashed #262626;
  border-radius: 100px;
  grid-area: tag;
}
.product-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 1px dashed #1f1f1f;
  background-color: #404040;
  border-radius: 12px;
  padding: 18px 20px;
  cursor: pointer;
}
.product-btn img {
  height: 24px;
}
.product-btn {
  grid-area: buttonshop;
}
.details {
  grid-area: details;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.left-content,
.right-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.centered-span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.dot {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #4d4d4d;
}
/*------------------------------ Section 4 ------------------------------  */
.section4-grid-container {
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px dashed #262626;
  grid-template-rows: auto;
  grid-template-areas:
    "heading-div heading-div"
    "container1 container2"
    "container3 container4"
    "container5 container6";
}
.section4-grid-container .heading-div {
  width: 100%;
  grid-area: heading-div;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  padding: 80px;
  position: relative;
  overflow: hidden;
}
.heading-div::after {
  content: url(../Images/square-sun.svg);
  position: absolute;
  right: -200px;
  top: -100px;
  object-fit: contain;
  animation: sun-rotate 10s linear infinite;
  transform-origin: center;
}
.content-div {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.container1 {
  grid-area: container1;
  border: 1px dashed #262626;
}
.container2 {
  grid-area: container2;
  border: 1px dashed #262626;
  border-right: none;
}
.container3 {
  grid-area: container3;
  border: 1px dashed #262626;
}
.container4 {
  grid-area: container4;
  border: 1px dashed #262626;
  border-right: none;
}
.container5 {
  grid-area: container5;
  border: 1px dashed #262626;
  border-bottom: none;
  border-left: none;
}
.container6 {
  grid-area: container6;
  border: 1px dashed #262626;
  border-bottom: none;
  border-right: none;
}
/*------------------------------ Section 5 ------------------------------  */
.section5 {
  margin-top: 30px;
  border-top: 1px dashed #262626;
  width: 100%;
  padding: 60px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 162px;
}
.wrapper .logo-a img {
  width: 50%;
}
.bottom-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.bottom-nav-a {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #d6cdc2;
}
.show-on-hover {
  display: none;
}
/* ------------------------------ section6  ------------------------------*/
.section6 {
  margin-top: 30px;
  border-top: 1px dashed #262626;
  width: 100%;
  padding: 60px;
}
.section6-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 162px;
}
.flex-sect6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
.nav-sect6 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.nav-sect6-a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
#subscire {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#email {
  background-color: #1a1a1a;
  border: none;
  outline: none;
  padding: 18px 112px 18px 24px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-wrapper {
  position: relative;
  overflow: hidden;
}
.input-wrapper::after {
  content: "";
  background-image: url(../Images/input-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 20px;
  bottom: 13%;
  cursor: pointer;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #333333 inset; /* your color */
  -webkit-text-fill-color: #fff;
  caret-color: #fff;
  transition: background-color 9999s ease-in-out 0s;
}
/* ------------------------------ Footer ------------------------------ */
footer {
  margin-top: 30px;
  border-top: 1px dashed #262626;
  width: 100%;
  padding: 60px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 162px;
}
footer nav .pseudo-a::after {
  content: "|";
  cursor: auto;
}

/* ------------------------------ Empty pages Styles ------------------------------ */
.empty-page {
  margin: 200px auto;
  width: 50%;
  padding: 50px;
  background-color: #ae9b84;
  border-radius: 12px;
  animation: fadeandbounce 2s ease-in-out forwards;
}
.empty-page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.to-home {
  padding: 20px 30px;
  border: 1px dashed #1a1a1a;
  border-radius: 12px;
  background-color: #72675a;
}
.arrow {
  fill: white;
  height: 40px;
}
